body{ margin: 0;
    }
.home{ background-color: black; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
      height: 120px;
     }
img{ height: 120px;
   }
.menu{ background-color: antiquewhite;
      display: flex; 
      align-items: center; 
      height: 80px; 
      border-bottom-left-radius: 50px;
     }
.Lista{ list-style: none; 
       display: flex; 
       flex-direction: row; 
       gap: 150px; 
       font-size: 19px; 
       margin: 10px; 
       color: goldenrod;
      }
h1{ margin: 30px;
  }
